@model A_Mover_Desktop_Final.Models.ModeloMota

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ModeloMota</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicioProducao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicioProducao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLancamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLancamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDescontinuacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDescontinuacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDModelo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
