@model IEnumerable<A_Mover_Desktop_Final.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<div class="card">

    <div class="card-header d-flex justify-content-between align-items-center">
        <h1 class="mb-0">Clientes</h1>

        <a asp-action="Create" class="btn btn-primary">
            Novo Cliente
        </a>

        <<a asp-action="ImportarExcel" class="btn" style="background:transparent; border:1px solid #28a745; color:#28a745;">
            Importar Excel
        </a>
    </div>

    <div class="table-responsive">

        <table class="table table-hover">

            <thead>
                <tr>
                    <th>Nº</th>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>País</th>
                    <th>Estado</th>
                    <th>Última Encomenda</th>
                    <th width="180"></th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.NumeroCliente</td>

                        <td>@item.Nome</td>

                        <td>@item.Tipo</td>

                        <td>@item.Pais</td>

                        <td>@item.Estado</td>

                        <td>
                            @(item.UltimaEncomenda?.ToString("dd/MM/yyyy") ?? "-")
                        </td>

                        <td>

                            <a asp-action="Details"
                                   asp-route-id="@item.IDCliente"
                                   class="btn btn-sm btn-info">
                                Detalhes
                            </a>

                            <a asp-action="Edit"
                                   asp-route-id="@item.IDCliente"
                                   class="btn btn-sm btn-warning">
                                Editar
                            </a>

                            <a asp-action="Delete"
                                   asp-route-id="@item.IDCliente"
                                   class="btn btn-sm btn-danger">
                                Eliminar
                            </a>



                        </td>

                    </tr>
                }

            </tbody>

        </table>

    </div>

</div>