@model IEnumerable<A_Mover_Desktop_Final.Models.Cliente>

@{
    ViewData["Title"] = "Gestão de Clientes";
}

<div class="card m-5 p-1">
    <div class="d-flex justify-content-between align-items-center m-3">
        <h1 class="m-0">Gestão de Clientes</h1>
        <a type="button" class="btn btn-primary" asp-action="Create">Adicionar Cliente</a>
    </div>

    <div class="table-responsive text-nowrap">
        <table class="table" id="tabela">
            <thead class="table-light">
                <tr>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in Model)
                {
                    <tr id="row-@cliente.IDCliente">
                        <td><b>@Html.DisplayFor(modelItem => cliente.Nome)</b></td>
                        <td>@Html.DisplayFor(modelItem => cliente.Tipo)</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@cliente.IDCliente" class="btn btn-sm btn-info text-white me-2">
                                <i class="fas fa-info-circle"></i> Detalhes
                            </a>
                            <a asp-action="Edit" asp-route-id="@cliente.IDCliente" class="btn btn-sm btn-warning text-white me-2">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                            <a asp-action="Delete" asp-route-id="@cliente.IDCliente" class="btn btn-sm btn-danger text-white">
                                <i class="fas fa-trash-alt"></i> Eliminar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tabela').DataTable({
                "pageLength": 10,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registos por página",
                    "paginate": {
                        "first": "Primeira",
                        "last": "Última",
                        "next": "Próxima",
                        "previous": "Anterior"
                    },
                    "info": "_START_ a _END_ de _TOTAL_ registos",
                    "infoEmpty": "Nenhum registo disponível",
                    "search": "Pesquisar:",
                    "zeroRecords": "Nenhum registro encontrado"
                }
            });
        });
    </script>
}
